.nav {
    display: flex;
    background-color: rgb(105, 8, 8);
    justify-content: space-around;
}

.ul {
    display: flex;
    color: white;
    font-size: large;
}

a {
    color: #FFF;
    text-decoration: none
}

a:hover {
 color: rgb(223, 247, 14)
}
